<mat-card>
  <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="uk-flex">
          <span class="uk-width-expand"></span>
          <button mat-flat-button color="accent" (click)="manageMahasiswaDetail('', -1)">Tambah</button>
      </div>
      <table class="uk-table uk-table-middle uk-table-divider">
          <thead>
              <th>No</th>
              <th>Nama Mahasiswa</th>
              <th>NIM</th>
              <th align="right">#</th>
          </thead>
          <tbody>
            <tr *ngFor="let mhs of mhss; let nim of nims let idx = index">
              <td>{{ idx + 1 }}</td>
              <td>{{ mhss[idx] }}</td>
              <td>{{ nim }}</td>
              <td align="right">
                <button mat-button color="primary" (click)="manageMahasiswaDetail(mhs, idx)">Edit</button>
                <button mat-button color="warn" (click)="deleteMahasiswa(idx)">Delete</button>
              </td>
            </tr>
          </tbody>
      </table>
  </mat-card-content>
</mat-card>
